<div class="hero min-h-screen bg-base-200 from-yellow-200 via-yello-500 to-red-400">
                   
    <div>
      <img class=" mb- w-full h-fully " src="  ">
</div>



<form action="#">
    <div class="mt-5">
      <label for="username">Username or Email</label>
      <input
        type="text"
        id="username"
        class="block w-full p-2 border rounded border-gray-500"
      />
    </div>
    <div class="mt-5">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="block w-full p-2 border rounded border-gray-500"
      />
    </div>
    <div class="mt-10">
      <input
        type="submit"
        value="Login"
        class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
      />
    </div>
  </form>

</div>
